node_modules
node_modules/*
_db
wp-content/themes/twenty*
!wp-content/themes/twentytwentythree/
wp-content/uploads/*
wp-content/plugins/*
wp-content/themes/wuxt/taxonomies/*
!wp-content/themes/wuxt/taxonomies/index.php
wp-admin
wp-includes
database.sql

index.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

.DS_Store
nuxt/dist/*
.env
.htaccess
